.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 1;
    transition: all 1.5s;
}
.LoadingBarbox{
    margin-top: 60px;
}
.canvasHolderText{
    position: absolute; /* Absolute positioning to overlay the canvas behind content */
    width: 100%;  /* Full viewport width */
    height: 100%; /* Full viewport height */
    z-index: -1; /* Ensure the canvas stays behind other elements */
}
.loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}